@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__description/cards__description.css);
@import url(./__title/cards__title.css);

.cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-gap: 60px 100px;
  max-width: 920px;
  margin: 0 auto;
  padding: 0;
}






/*.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 920px;
}



/*.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
  padding: 0;
  min-width: 920px;
}


/*.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
  min-width: 920px;
}
