.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  font-style: normal;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  padding: 0 0 0 64px;
  z-index: 1;
}

 .logo {
  background-image: url('../images/logo_place_header.svg');
  background-size: contain;
  background-repeat: no-repeat;
 }

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  max-width: 730px;
  margin: auto 0;
  z-index: 1;
}

.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  z-index: 1;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
}

.header__link:hover {
  color: #255faa;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: -1;
}

.description {
  display: flex;
  padding-top: 100px;
  margin: 0;
  position: relative;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  margin: auto;
}

.two-columns__brief {
  max-width: 175px;
  color:  #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  font-style: normal;
}

.section-title {
  margin: 0 auto;
  line-height: 69px;
  font-size: 60px;
  font-style: bold;
}

.section-subtitle {
  margin: 0 auto;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
  text-align: start;
}

.table__heading {
  margin: auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  background-color:#f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  min-height: 790px;
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.feynman__title {
  margin: auto;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  max-width: 638px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: auto;
  padding-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #000000;
  text-decoration: none;
}

.feynman__link:hover {
  color: #2f80ed;
}


.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
}

.table__theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
 background-image: url(../images/kaufman-triangle.svg);
 background-size: contain;
 position: absolute;
 right: -210px;
 top: 0;
 z-index: -1;
 height: 877px;
 width: 877px;
}

.footer {
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  margin: 0 auto;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
  align-self: flex-start;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin: 18px 0;
  align-self: baseline;
  color: white;
}

.footer_content_info {
  text-align: initial;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-style: bold;
  color: white;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer__column-links:hover {
  color: #2f80ed;
}

.footer__link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
}

.footer__link:hover {
  color: #2f80ed;
}

.footer__social-icon {
  margin-right: 10px;
}
